<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL Shortener</title>
</head>
<body style="background-color: aquamarine;">
  <h1>URL Shortener</h1>
  <form method="post" action="/">
    <label for="url">Enter an https:// URL:</label>
    <input type="url"
      name="url"
      id="url"
      placeholder="http://xyz"
      value="{{old_url}}"
      required  
    >
    <button type="submit" value="submit">Submit</button>
  </form>
  {% if new_url %}
  <label>Generated URL: </label>
  <input type="text" value="{{ new_url }}" style="margin-top: 10px; margin-left:35px" size="50" readonly>
  <br><br>
  <label>Generated QR code </label>
  <br><br>
  <img src="{{ qr_path }}" alt="QR Code">
{% endif %}
  
</body>
</html>